$font-type-primary: "roboto-slab, serif";

//#21033a #130026

$color-primary: #9E819A;
$color-primary3:#230e35 ; //test
$color-secondary: #EBAFA6;
$color-primary4:#2d1d3d;  //test
$color-alt1: #353535;
$color-alt2: #F5F5F5;
$color-alt3: #91738d;

$color-font-primary: #383838;
$color-font-secondary: #f5f5f5;